{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}

{% block title %}{% trans "تسجيل الدخول" %}{% endblock %}

{% block content %}
<main class="auth-page-main">
  <section class="auth-form-section">
    <div class="container">
      <h2>{% trans "تسجيل الدخول" %}</h2>

      {% if not SOCIALACCOUNT_ONLY %}
      <p class="terms-text">
        {% blocktranslate %}ليس لديك حساب؟ <a href="{{ signup_url }}">سجل الآن</a>.{% endblocktranslate %}
      </p>

      {% url 'account_login' as login_url %}
      <form method="post" action="{{ login_url }}" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}
        {{ redirect_field }}
        <button type="submit" class="button primary full-width">{% trans "تسجيل الدخول" %}</button>
      </form>
      {% endif %}

      {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" %}
      {% endif %}
    </div>
  </section>
</main>
{% endblock %}
