{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>استبيانات سوريا</title>
    <!-- ربط ملف CSS بشكل صحيح -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}"></script>
</head>
<body>
    <h1>استبيانات سوريا</h1>
    <nav>
        <ul>
           <li><a href="{% url 'index' %}">الرئيسية</a></li>
    <li><a href="{% url 'surveys' %}">الاستبيانات</a></li>
    <li><a href="{% url 'rewards' %}">المكافآت</a></li>
    <li><a href="{% url 'contact' %}">اتصل بنا</a></li>
    <li><a href="{% url 'auth' %}">تسجيل الدخول</a></li>
    <li><a href="{% url 'privacy' %}">سياسة الخصوصية</a></li>
    <li><a href="{% url 'terms' %}">الشروط والأحكام</a></li>
    <li><a href="{% url 'single_survey' %}">استبيان فردي</a></li>
        </ul>
    </nav>
    
    <div>
        <h2>أصواتك مهم... شارك، عَبِّر، واكسب!</h2>
        <p>منصة "استبيانات سوريا" تتيح لك التعبير عن رأيك حول قضايا تهم مجتمعنا، وكسب مكافآت قيمة مقابل آراءك.</p>
        <a href="/start-survey">ابدأ الآن!</a>
    </div>

    <footer>
        <p>&copy; 2025 استبيانات سوريا</p>
    </footer>
</body>
</html>
